doctype html
mixin item(title, url)
  li
    a(href=url class= path == url? 'active' : '' )=title

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Globalna zmienna przypisana w app.js: #{path} 
    ul
      +item('Strona główna', '/')
      +item('Aktualności', '/news')
      +item('QUIZ', '/quiz')
      +item('Admin panel', '/admin')
    block content
